[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
python-telegram-bot = "==12.0.0b1"
gunicorn = "==19.9.0"
requests = "==2.21.0"
psycopg2-binary = "==2.7.7"
asn1crypto = "==0.24.0"
beautifulsoup4 = "==4.7.1"
certifi = "==2018.11.29"
cffi = "==1.12.2"
chardet = "==3.0.4"
click = "==7.0"
cryptography = "==2.6.1"
future = "==0.17.1"
googlemaps = "==3.0.2"
idna = "==2.8"
itsdangerous = "==1.1.0"
jieba-hant = "==0.39.1"
opengraphio = "==1.0.4"
pycparser = "==2.19"
six = "==1.12.0"
soupsieve = "==1.8"
tornado = "==6.0.1"
urllib3 = "==1.24.1"
Flask = "==1.0.2"
Jinja2 = "==2.11.3"
MarkupSafe = "==1.1.1"
Werkzeug = "==0.14.1"

[requires]
python_version = "3.7"
